/* Below line is write to use Google font online */
@import "https://fonts.googleapis.com/css?family=Ubuntu";
div#main{
    width:830px;
    height:650px;
    margin:0 auto;
    font-family:'Ubuntu',sans-serif
}

body { 
    counter-reset: myCounter; 
} 

label::before { 
    counter-increment: myCounter; 
    content: counter(myCounter) ". "; 
}

h4::before { 
    counter-increment: myCounter; 
    content: counter(myCounter) ". "; 
}

div#root{
    text-align:left;
    width:-webkit-fill-available;
    padding:10px 50px 15px;
    float:left
}
#main h1{
    margin-top:40px
}
hr{
    margin-top:-5px
}
label{
    float:left;
    font-size:16px
}
input[type="text"]{
    width:100%;
    margin-top:5px;
    height:15px;
    margin-bottom:5px;
    padding:10px;
}
input:focus {
    border-color: blue
}
textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none
}
input[type="submit"]{
    width:40%;
    padding:10px 45px;
    background-color:#2BC1F2;
    border:none;
    color:#fff;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Ubuntu',sans-serif
}


/* -------------------------------------
CSS for Creation View 
---------------------------------------- */

.baseQuestion { 
    background : #DCDCDC;
    border-radius: 5px;
    padding :10px;
    width :100%;
    border :none;
    margin : 10px 0 10px 0;
}

.inputElement{
    width: 88% !important; 
    margin : 0px 0 10px 3%;
    border : none;
    background : white;
    border-radius: 3px;
}

.addQuestionTitleInputElement{
    width : 88% !important; 
    margin : 0 0 0 1%;
    border : none;
    border-radius: 3px;
    font-weight:bold;
}

.selectTemplateDropDown{
    border : none;
    background : #DCDCDC;
    padding : 5px;
    border-radius :5px;
}

.surveyTitle{
  border : none;
  background : #DCDCDC;
  font-weight: bold;
  border-radius :5px;
  margin-top: 16px;
  padding:10px;
  display: block;
}

.surveyTitle[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: gray;
}  
.questionTypeList{
    width:15px;
    height:21px;
    background:#6264a7;
    color:white;
    border:none;
    outline:none;
    box-shadow: none;
}

.addQuestionButton{
    float :left; 
    background :#6264a7;
    color :white;
    border :none;
    height :21px;
    margin-right:1px;
    outline:none;
    box-shadow :none;
}

.submitButton{
    float :right;
    background :#6264a7;
    color :white;
    border :none;
    height :21px;
    outline :none;
    box-shadow :none;
}

.addChoiceButton{
    margin-left :25px;
    float :left; 
    background : rgb(220, 220, 220);
    color :#6264a7;
    border :none;
    height :21px;
    outline :none;
    box-shadow :none;
}

.addChoiceInput {
    width :90% !important;
    border :none;
    border-radius :3px;
}

.creationFooterDiv{
    padding-bottom:20px;
}

.deleteQuestionButton{
    height : 20px;
    float : right;
}

.deleteChoiceButton{
    height : 15px;
    float : right;
}
/* -------------------------------------
CSS for Response View 
---------------------------------------- */
.responseInputElement{
    width :93%;
    margin :10px 0 10px 3%;
    border :none;
    background :white;
    border-radius :3px;
}

.responseSubmitButton{
    float : right;
}

.radioInput{
    margin: 10px;
}
/* -------------------------------------
CSS for Summary View 
---------------------------------------- */
div#fugo{
    float:right
}

.meter { 
    height: 10px;
    position: relative;
    background: #eee;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(244, 196, 52);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0,rgb(244, 196, 52)),
    color-stop(1, rgb(244, 196, 52))
    );
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(244, 196, 52) 37%,
    rgb(245, 208, 98) 69%
    );
    position: relative;
    overflow: hidden;
}
.progressBar { 
    height: 10px;
    position: relative;
    background: #eee;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.progressBar > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#6264a7;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0,#6264a7),
    color-stop(1, #6264a7)
    );
    background-image: -moz-linear-gradient(
    center bottom,
    #6264a7 37%,
    #6264a7 69%
    );
    position: relative;
    overflow: hidden;
}
.buttonAsString {
    border: none;
    background: none;
    outline: none;
    height: 15px;
    font-size: 15px;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
}
.buttonAsString:hover {
    cursor: pointer;
    text-decoration: underline;
}
.topSummaryText {
    margin-top: -8px;
    margin-left: -2px;
}
.textDisplay {
    font-size: 15px;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    overflow: hidden;
}
.tabs {
    margin-top: 0px;
    top:0px;
    display:flex;
    flex-direction: row;
    background:none;
}
.tabs__horizontal {
    width: 100%;
}
.tabs__button {
    display: block;
    padding: 10px;
    border:  none;
    outline: none;
    cursor: pointer;
    background:none;
    font-family: sans-serif;
    color: #6264a7;
}
.tabs__button:active{
    border-bottom: 2px solid #6264a7;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.tabs__button--active {
    border-bottom: 2px solid #6264a7;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.tabs__content {
    padding: 15px;
    font-size: 15px;
    display: none;
    height: 66vh;
    overflow-y:scroll;
    border-top: .5px solid rgb(206, 206, 206);
    border-bottom: .5px solid rgb(206, 206, 206);
}
.tabs__content--active {
    display: block;
    height: 66.5vh;
}
h4 {
    font-weight: bold;
    font-size: medium;
}
.tabPage {
    display: none;
    height: 80vh;
}
.aggregateSummaryPage {
    display: block;
    height: 85vh;
    overflow-y:scroll;
    border-top: .5px solid rgb(206, 206, 206);
    border-bottom: .5px solid rgb(206, 206, 206);
    width:90vw;
}
.responseViewPage {
    display: none;
    height: 85vh
}
.responsePerUserViewPage {
    display: none;
    height: 85vh;
}
.responsePerQuestion {
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f2f1;
}
.responsePerQuestion:last-of-type {
    margin-bottom:0;
    border-bottom: none;
 }
.TitleDiv {
    font-weight: bold;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.ResponseHeader {
    border-bottom: .5px solid rgb(206, 206, 206);
    border-top: .5px solid rgb(206, 206, 206);
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #f3f2f1;
    padding-left: 15px;
    padding-right: 15px;
    width: 85vw;
}
.responseRow {   
    height: 73.5vh;
    overflow: scroll;
    margin-top: 5px;
    border-bottom: .5px solid rgb(206, 206, 206);
    width: 90vw;
}
.clickable {
    cursor: pointer;
}
.row {
    display: table;
    width: 80vw;
    table-layout: auto; 
    border-spacing: 10px 0px; 
    padding-bottom: 2px;
}
.column {
    display: table-cell;
}
.columncenter {
    display: table-cell;
    text-align: center;
}
.columnleft {
    float: left;
}
.columnright {
    float: right;
}
.headings {
    display:table;
    font-weight: bold;
    font-size: 15px;
    margin-left: 2px;
    margin-bottom: 5px;
}
.summaryTitle {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.subHeading {
    font-size: 15px;
    padding-top: 5px;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}
.questionContainer {
    border-bottom: .5px solid rgb(206, 206, 206);
    padding-bottom: 20px;
    width: 85vw;
}
.questionContainer:last-of-type{
    border-bottom: none;
}
.modulquestionContainere > *:last-child {
    border-bottom: none;
}
.TopSummaryContainer {
    padding-bottom: 15px;
    padding-top: 15x;
    border-bottom: .5px solid rgb(206, 206, 206);
    width: 85vw;
}
.responseContainer {
    padding-top: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.responseContainer:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
}
td:not(:first-child) {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px; 
}
td:first-child {
    width: 20px;
}
tr:nth-child(2){
    text-align: left;
}
td:nth-child(3) {
    text-align: right;
}
table {
    width: 100%;
    text-align: left;
}
.profilePic {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    padding-right: 5px;
    border-radius: 50%;
}
.singleValPerRow {
    padding-bottom: 20px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 7px;
    background:  rgb(206, 206, 206); 
    height: 5px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background:  rgb(206, 206, 206); 
}
.textSmallBold {
    font-size: 12px;
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.coloredLinkBold {
    color: #6264a7;
    font-weight: bold;
}
.footer{
    padding-top: 5px;
}
.headerView{
    padding-top: 10px;
    border-top: .5px solid rgb(206, 206, 206);
    margin-left: auto;
}
/* -------------------------------------
Common CSS UxUtils
---------------------------------------- */
.alertView {
    margin:  20px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}
.alertTitleDiv {
    color: #32485f;
    font-size: 20px;
    font-weight: 600;
}
.alertMessageView {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6f7e8f;
    font-size: 16px;
    overflow-y: scroll;
}
.alertBottomView {
    display: flex;
    justify-content: flex-end;
}
.buttonAttributes {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    color: rgb(0, 111, 241);
    -webkit-appearance: none;
    border: none;
}
.fullScreenTransparentContainer{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 72, 95, 0.5);
    z-index: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.labelAttributes {
    overflow-wrap:break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.horizontalDivAttributes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.verticalDivAttributes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.circularImageAttributes {
    border-radius: 50%;
    width: dimen;
    height: dimen;
    flex: none;
}
.imageAttributes {
    overflow: hidden;
    object-fit: cover;
}
.loadingSpinnerAttributes {
    border-width: 2pt solid;
    border: 2pt solid #f1f2f4;
    border-top:  2pt solid rgb(0, 161, 255);
    border-bottom:  2pt solid  rgb(0, 161, 255);
    border-radius: 50%;
    width: 16pt;
    height: 16pt;
    animation: spin 1.5s ease-in-out infinite;
}
.contentEditableSpanAttributes{
    word-break: break-word;
    -webkit-user-select: text;
}